.TodoList{
    text-align: center;
    padding-top: 50px;
    font-size: large;
}

.DeleteButton{
    cursor: pointer;
    color: red;
    margin-left: 50px;
}

.ToggleButton{
    cursor: pointer;
    color: midnightblue;
    background-color: lightgreen;
    margin-left: 50px;
}